<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Chart</title>
    <style>
        .column3 div{
            width: calc(33.33% - 20px);
            float: left;
        }
        .column3 .one{
            margin-right: 20px;
            margin-left: 10px;
        }
        .column3 .two{
            margin-right: 20px;
        }
        .column3 .three{
            margin-right: 10px;
            float: end;
        }
    </style>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'line']});

        var config = {
            externalVoltage:  9000,
            vacancyEnergy:    4.1,
            oxygenPressure:   0.21,
            heatCapacity:     56.188,
            molWeight:        123.233,
            density:          6.10,
            electronDOS:      7.0e+20,
            formationEntropy: 8.3145,
            mobilityCoef:     8.02e-02,
            rearrangeE:       1.89,
            localValency:     -1.5,
            localPotential:   5.0,
            title: "Furnace temperature dependence of power dissipation in flash sintering.",
            hAxis: {
                title: "Temperature /℃",
                window: {
                    max: 1500,
                    min: 500,
                }
            },
            vAxis: {
                title: "Power dissipation /10^9Wm^-3",
                window: {
                    max: 1.0,
                    min: 0,
                }
            },
            color: "#d80000",
        };

        function send () {
            var params = {
                "external_voltage": config.externalVoltage,
                "vacancy_energy": config.vacancyEnergy,
                "oxygen_pressure": config.oxygenPressure,
                "heat_capacity": config.heatCapacity,
                "mol_weight": config.molWeight,
                "density": config.density,
                "electron_DOS": config.electronDOS,
                "formation_entropy": config.formationEntropy,
                "mobility_coef": config.mobilityCoef,
                "rearrange_energy": config.rearrangeE,
                "local_valency": config.localValency,
                "local_potential": config.localPotential,
            };
            $.get("/calc/flash/", params).done(function (data) {
                var dataTable = new google.visualization.DataTable();
                dataTable.addColumn('number', 'X');
                dataTable.addColumn('number', 'W');

                var googleChartData = [];
                for (i = 0; i < data["temperature"].values.length; i++){
                    var temp = data["temperature"].values[i];
                    var power = data["power_dissipation"].values[i]/1.0e+9;
                    var datas = [temp, power];
                    googleChartData.push(datas)
                }
                dataTable.addRows(googleChartData);

                var options = {
                    legend: {
                        position: "none"
                    },
                    title: config.title,
                    titleTextStyle: {
                        fontSize: 20
                    },
                    hAxis: {
                        title: config.hAxis.title,
                        viewWindow: {
                            max: config.hAxis.window.max,
                            min: config.hAxis.window.min,
                        },
                        titleTextStyle: {
                            italic: false,
                            bold: true,
                        }
                    },
                    vAxis: {
                        title: config.vAxis.title,
                        viewWindow: {
                            max: config.vAxis.window.max,
                            min: config.vAxis.window.min,
                        },
                        titleTextStyle: {
                            italic: false,
                            bold: true,
                        }
                    },
                    colors: [config.color],
                };
                var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                chart.draw(dataTable, options);
            })
        }

        window.onload = function () {
            send();
            $('#input_ev_txt').change(function () { send_ev(this.value); });
            $('#input_ev_sld').change(function () { send_ev(this.value); });
            $('#input_ve_txt').change(function () { send_ve(this.value); });
            $('#input_ve_sld').change(function () { send_ve(this.value); });
            $('#input_pO2_txt').change(function () { send_pO2(this.value); });
            $('#input_pO2_sld').change(function () { send_pO2(this.value); });
            $('#input_cp_txt').change(function () { send_cp(this.value); });
            $('#input_mw_txt').change(function () { send_mw(this.value); });
            $('#input_den_txt').change(function () { send_den(this.value); });
            $('#input_eDOS_txt').change(function () { send_eDOS(this.value); });
            $('#input_fe_txt').change(function () { send_fe(this.value); });
            $('#input_mc_txt').change(function () { send_mc(this.value); });
            $('#input_re_txt').change(function () { send_re(this.value); });
            $('#input_lv_txt').change(function () { send_lv(this.value); });
            $('#input_lp_txt').change(function () { send_lp(this.value); });
        };

        function send_ev(num) {
            config.externalVoltage = num;
            document.getElementById('output_ev').value = num;
            document.getElementById('input_ev_sld').value = num;
            send();
        }
        function send_ve(num) {
            config.vacancyEnergy = num;
            document.getElementById('output_ve').value = num;
            document.getElementById('input_ve_sld').value = num;
            send();
        }
        function send_pO2(num) {
            config.oxygenPressure = num;
            document.getElementById('output_pO2').value = num;
            document.getElementById('input_pO2_sld').value = num;
            send();
        }
        function send_cp(num) {
            config.heatCapacity = num;
            send();
        }
        function send_mw(num) {
            config.molWeight = num;
            send();
        }
        function send_den(num) {
            config.density = num;
            send();
        }
        function send_eDOS(num) {
            config.electronDOS = num;
            send();
        }
        function send_fe(num) {
            config.formationEntropy = num;
            send();
        }
        function send_mc(num) {
            config.mobilityCoef = num;
            send();
        }
        function send_re(num) {
            config.rearrangeE = num;
            send();
        }
        function send_lv(num) {
            config.localValency = num;
            send();
        }
        function send_lp(num) {
            config.localPotential = num;
            send();
        }
        function changing_ev(num) {
            document.getElementById('output_ev').value = num;
            document.getElementById('input_ev_txt').value = num;
        }
        function changing_ve(num) {
            document.getElementById('output_ve').value = num;
            document.getElementById('input_ve_txt').value = num;
        }
        function changing_pO2(num) {
            document.getElementById('output_pO2').value = num;
            document.getElementById('input_pO2_txt').value = num;
        }
    </script>
</head>
<body>

<div id="chart_div" style="width: 900px; height: 500px; margin: auto"></div>

<section class="column3">
    <div class="one">
        <h3>外部電圧：<output id="output_ev">9000</output>[V/m]<br></h3>
        <input id="input_ev_sld" type="range" value="9000" min="0" max="20000" step="100" style="margin-left: 10px"
               oninput="changing_ev(this.value)" list="marks_ev">
        <input id="input_ev_txt" type="text" value="9000" style="font-size: 20px; width: 70px; margin-left: 10px">
    </div>
    <div class="two">
        <h3>空孔形成エネルギー：<output id="output_ve">4.1</output>[eV]<br></h3>
        <input id="input_ve_sld" type="range" value="4.1" min="3" max="5.5" step="0.01" style="margin-left: 10px"
               oninput="changing_ve(this.value)" list="marks_ve">
        <input id="input_ve_txt" type="text" value="4.1" style="font-size: 20px; width: 60px; margin-left: 10px">
    </div>
    <div class="three">
        <h3>酸素分圧：<output id="output_pO2">0.21</output><br></h3>
        <input id="input_pO2_sld" type="range" value="0.21" min="0" max="0.3" step="0.00001" style="margin-left: 10px"
               oninput="changing_pO2(this.value)" list="marks_pO2">
        <input id="input_pO2_txt" type="text" value="0.21" style="font-size: 20px; width: 60px; margin-left: 10px">
    </div>
</section>

<section class="column3">
    <div class="one">
        <h3>モル熱容量：<input id="input_cp_txt" type="text" value="56.188" style="font-size: 20px; width: 90px">[J/molK]</h3>
    </div>
    <div class="two">
        <h3>分子量：<input id="input_mw_txt" type="text" value="123.233" style="font-size: 20px; width: 100px">[g/mol]</h3>
    </div>
    <div class="three">
        <h3>密度：<input id="input_den_txt" type="text" value="6.10" style="font-size: 20px; width: 60px">[g/cm^3]</h3>
    </div>
</section>

<section class="column3">
    <div class="one">
        <h3>電子の有効状態密度：<input id="input_eDOS_txt" type="text" value="7.0e+20" style="font-size: 20px; width: 100px">[/m^3eV]</h3>
    </div>
    <div class="two">
        <h3>空孔形成エントロピー：<input id="input_fe_txt" type="text" value="8.3145" style="font-size: 20px; width: 90px">[J/molK]</h3>
    </div>
    <div class="three">
        <h3>電子の移動度係数：<input id="input_mc_txt" type="text" value="8.02e-02" style="font-size: 20px; width:100px">[m^2/Vs]</h3>
    </div>
</section>

<section class="column3">
    <div class="one">
        <h3>再配列エネルギー：<input id="input_re_txt" type="text" value="1.89" style="font-size: 20px; width: 60px">[eV]</h3>
    </div>
    <div class="two">
        <h3>局所的な価数：<input id="input_lv_txt" type="text" value="-1.5" style="font-size: 20px; width: 60px">[C]</h3>
    </div>
    <div class="three">
        <h3>外部局所電位：<input id="input_lp_txt" type="text" value="5.0" style="font-size: 20px; width: 60px">[V]</h3>
    </div>
</section>

<div style="margin-left: 50px">
    <img src="https://chart.googleapis.com/chart?cht=tx&chl=\frac{dT}{dt}=\frac{E^2e}{C_{\rm p}}n(T)M_{\rm n}(T)&chs=500" height="80px"><br>
    <img src="https://chart.googleapis.com/chart?cht=tx&chl=n(T,P_{ {\rm O}_2},\phi)=N_0 B_0 (P_{ {\rm O}_2})^{-\frac{1}{6}} \exp\left(-\frac{\Delta H_{ {\rm V}_{\rm O}^{\bullet \bullet} } %2B zF\phi}{3RT}\right)&chs=500" height="80px"><br>
    <img src="https://chart.googleapis.com/chart?cht=tx&chl=M_{\rm n}(T)=M_0 \exp\left(-\frac{E_{\rm M}}{RT}\right)&chs=500" height="80px">
    <img src="https://chart.googleapis.com/chart?cht=tx&chl=B_0=\left[2\exp\left(\frac{\Delta S_{\rm V_O^{\bullet\bullet}}}{R}\right)\right]^{\frac{1}{3}}&chs=500" height="80px" style="margin-left: 50px"><br>
    <div style="margin-left: 20px">
        <img src="https://chart.googleapis.com/chart?cht=tx&chl=E&chs=500" height="20px">：外部電圧<br>
        <img src="https://chart.googleapis.com/chart?cht=tx&chl=\Delta H_{ {\rm V}_{\rm O}^{\bullet \bullet} }&chs=500" height="25px">：空孔形成エネルギー<br>
        <img src="https://chart.googleapis.com/chart?cht=tx&chl=P_{ {\rm O}_2}&chs=500" height="25px">：酸素分圧<br>
        <img src="https://chart.googleapis.com/chart?cht=tx&chl=C_{\rm p}&chs=500" height="25px">：モル熱容量<br>
        <img src="https://chart.googleapis.com/chart?cht=tx&chl=\Delta S_{\rm V_O^{\bullet\bullet}}&chs=500" height="25px">：空孔形成エントロピー<br>
        <img src="https://chart.googleapis.com/chart?cht=tx&chl=M_0&chs=500" height="25px">：電子の移動度係数<br>
        <img src="https://chart.googleapis.com/chart?cht=tx&chl=E_{\rm M}&chs=500" height="25px">：再配列エネルギー<br>
        <img src="https://chart.googleapis.com/chart?cht=tx&chl=z&chs=500" height="20px">：局所的な価数<br>
        <img src="https://chart.googleapis.com/chart?cht=tx&chl=\phi&chs=500" height="25px">：外部局所電位<br>
    </div>
</div>

<datalist id="marks_ev">
    <option value="0"></option>
    <option value="5000"></option>
    <option value="10000"></option>
    <option value="15000"></option>
    <option value="20000"></option>
</datalist>
<datalist id="marks_ve">
    <option value="3.0"></option>
    <option value="3.5"></option>
    <option value="4.0"></option>
    <option value="4.5"></option>
    <option value="5.0"></option>
    <option value="5.5"></option>
</datalist>
<datalist id="marks_pO2">
    <option value="0"></option>
    <option value="0.1"></option>
    <option value="0.2"></option>
    <option value="0.3"></option>
</datalist>

</body>
</html>
