<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Chart</title>
    <style>
        .column3 div{
            width: calc(33.33% - 20px);
            float: left;
        }
        .column3 .one{
            margin-right: 20px;
            margin-left: 10px;
        }
        .column3 .two{
            margin-right: 20px;
        }
        .column3 .three{
            margin-right: 10px;
            float: end;
        }
        .input_txt{
            font-size: 20px;
            width: 100px;
            margin-left: 10px
        }
    </style>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'line']});

        var config = {
            externalVoltage:  9000,
            vacancyEnergy:    4.1,
            oxygenPressure:   0.21,
            heatCapacity:     56.188,
            molWeight:        123.233,
            density:          6.10,
            electronDOS:      7.0e+20,
            formationEntropy: 8.3145,
            mobilityCoef:     8.02e-02,
            rearrangeE:       1.89,
            localValency:     -1.5,
            localPotential:   5.0,
            title: "Furnace temperature dependence of power dissipation in flash sintering.",
            hAxis: {
                title: "Temperature /℃",
                window: {
                    max: 1500,
                    min: 500,
                }
            },
            vAxis: {
                title: "Power dissipation /10^9Wm^-3",
                window: {
                    max: 1.0,
                    min: 0,
                }
            },
            color: "#d80000",
        };

        function send () {
            var params = {
                "external_voltage": config.externalVoltage,
                "vacancy_energy": config.vacancyEnergy,
                "oxygen_pressure": config.oxygenPressure,
                "heat_capacity": config.heatCapacity,
                "mol_weight": config.molWeight,
                "density": config.density,
                "electron_DOS": config.electronDOS,
                "formation_entropy": config.formationEntropy,
                "mobility_coef": config.mobilityCoef,
                "rearrange_energy": config.rearrangeE,
                "local_valency": config.localValency,
                "local_potential": config.localPotential,
            };
            $.get("/calc/flash/", params).done(function (data) {
                var dataTable = new google.visualization.DataTable();
                dataTable.addColumn('number', 'X');
                dataTable.addColumn('number', 'W');

                var googleChartData = [];
                for (i = 0; i < data["temperature"].values.length; i++){
                    var temp = data["temperature"].values[i];
                    var power = data["power_dissipation"].values[i]/1.0e+9;
                    var datas = [temp, power];
                    googleChartData.push(datas)
                }
                dataTable.addRows(googleChartData);

                var options = {
                    legend: {
                        position: "none"
                    },
                    title: config.title,
                    titleTextStyle: {
                        fontSize: 20
                    },
                    hAxis: {
                        title: config.hAxis.title,
                        viewWindow: {
                            max: config.hAxis.window.max,
                            min: config.hAxis.window.min,
                        },
                        titleTextStyle: {
                            italic: false,
                            bold: true,
                        }
                    },
                    vAxis: {
                        title: config.vAxis.title,
                        viewWindow: {
                            max: config.vAxis.window.max,
                            min: config.vAxis.window.min,
                        },
                        titleTextStyle: {
                            italic: false,
                            bold: true,
                        }
                    },
                    colors: [config.color],
                };
                var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                chart.draw(dataTable, options);
            })
        }

        window.onload = function () {
            send();
            $('#input_ev_txt, #input_ev_sld').change(function () { send_ev(this.value); });
            $('#input_ve_txt, #input_ve_sld').change(function () { send_ve(this.value); });
            $('#input_pO2_txt, #input_pO2_sld').change(function () { send_pO2(this.value); });
            $('#input_cp_txt, #input_cp_sld').change(function () { send_cp(this.value); });
            $('#input_mw_txt, #input_mw_sld').change(function () { send_mw(this.value); });
            $('#input_den_txt, #input_den_sld').change(function () { send_den(this.value); });
            $('#input_eDOS_txt, #input_eDOS_sld').change(function () { send_eDOS(this.value); });
            $('#input_fe_txt, #input_fe_sld').change(function () { send_fe(this.value); });
            $('#input_mc_txt, #input_mc_sld').change(function () { send_mc(this.value); });
            $('#input_re_txt, #input_re_sld').change(function () { send_re(this.value); });
            $('#input_lv_txt, #input_lv_sld').change(function () { send_lv(this.value); });
            $('#input_lp_txt, #input_lp_sld').change(function () { send_lp(this.value); });
        };

        function send_ev(num) {
            config.externalVoltage = num;
            document.getElementById('output_ev').value = num;
            document.getElementById('input_ev_sld').value = num;
            send();
        }
        function send_ve(num) {
            config.vacancyEnergy = num;
            document.getElementById('output_ve').value = num;
            document.getElementById('input_ve_sld').value = num;
            send();
        }
        function send_pO2(num) {
            config.oxygenPressure = num;
            document.getElementById('output_pO2').value = num;
            document.getElementById('input_pO2_sld').value = num;
            send();
        }
        function send_cp(num) {
            config.heatCapacity = num;
            document.getElementById('output_cp').value = num;
            document.getElementById('input_cp_sld').value = num;
            send();
        }
        function send_mw(num) {
            config.molWeight = num;
            document.getElementById('output_mw').value = num;
            document.getElementById('input_mw_sld').value = num;
            send();
        }
        function send_den(num) {
            config.density = num;
            document.getElementById('output_den').value = num;
            document.getElementById('input_den_sld').value = num;
            send();
        }
        function send_eDOS(num) {
            config.electronDOS = num;
            document.getElementById('output_eDOS').value = num;
            document.getElementById('input_eDOS_sld').value = num;
            send();
        }
        function send_fe(num) {
            config.formationEntropy = num;
            document.getElementById('output_fe').value = num;
            document.getElementById('input_fe_sld').value = num;
            send();
        }
        function send_mc(num) {
            config.mobilityCoef = num;
            document.getElementById('output_mc').value = num;
            document.getElementById('input_mc_sld').value = num;
            send();
        }
        function send_re(num) {
            config.rearrangeE = num;
            document.getElementById('output_re').value = num;
            document.getElementById('input_re_sld').value = num;
            send();
        }
        function send_lv(num) {
            config.localValency = num;
            document.getElementById('output_lv').value = num;
            document.getElementById('input_lv_sld').value = num;
            send();
        }
        function send_lp(num) {
            config.localPotential = num;
            document.getElementById('output_lp').value = num;
            document.getElementById('input_lp_sld').value = num;
            send();
        }
        function changing_ev(num) {
            document.getElementById('output_ev').value = num;
            document.getElementById('input_ev_txt').value = num;
        }
        function changing_ve(num) {
            document.getElementById('output_ve').value = num;
            document.getElementById('input_ve_txt').value = num;
        }
        function changing_pO2(num) {
            document.getElementById('output_pO2').value = num;
            document.getElementById('input_pO2_txt').value = num;
        }
        function changing_cp(num) {
            document.getElementById('output_cp').value = num;
            document.getElementById('input_cp_txt').value = num;
        }
        function changing_mw(num) {
            document.getElementById('output_mw').value = num;
            document.getElementById('input_mw_txt').value = num;
        }
        function changing_den(num) {
            document.getElementById('output_den').value = num;
            document.getElementById('input_den_txt').value = num;
        }
        function changing_eDOS(num) {
            document.getElementById('output_eDOS').value = num;
            document.getElementById('input_eDOS_txt').value = num;
        }
        function changing_fe(num) {
            document.getElementById('output_fe').value = num;
            document.getElementById('input_fe_txt').value = num;
        }
        function changing_mc(num) {
            document.getElementById('output_mc').value = num;
            document.getElementById('input_mc_txt').value = num;
        }
        function changing_re(num) {
            document.getElementById('output_re').value = num;
            document.getElementById('input_re_txt').value = num;
        }
        function changing_lv(num) {
            document.getElementById('output_lv').value = num;
            document.getElementById('input_lv_txt').value = num;
        }
        function changing_lp(num) {
            document.getElementById('output_lp').value = num;
            document.getElementById('input_lp_txt').value = num;
        }
    </script>
</head>
<body>

<div id="chart_div" style="width: 900px; height: 500px; margin: auto"></div>

<section class="column3">
    <div class="one">
        <h3>外部電圧：<output id="output_ev">9000</output><img src="https://chart.googleapis.com/chart?cht=tx&chl=[{\rm V}/{\rm m}]&chs=500" height="16px" style="margin-left: 10px"><br></h3>
        <input id="input_ev_sld" type="range" value="9000" min="0" max="20000" step="100" style="margin-left: 10px" oninput="changing_ev(this.value)">
        <input id="input_ev_txt" type="text" value="9000" class="input_txt">
    </div>
    <div class="two">
        <h3>空孔形成エネルギー：<output id="output_ve">4.1</output><img src="https://chart.googleapis.com/chart?cht=tx&chl=[{\rm eV}]&chs=500" height="16px" style="margin-left: 10px"><br></h3>
        <input id="input_ve_sld" type="range" value="4.1" min="3" max="5.5" step="0.01" style="margin-left: 10px" oninput="changing_ve(this.value)">
        <input id="input_ve_txt" type="text" value="4.1" class="input_txt">
    </div>
    <div class="three">
        <h3>酸素分圧：<output id="output_pO2">0.21</output><br></h3>
        <input id="input_pO2_sld" type="range" value="0.21" min="0" max="0.3" step="0.00001" style="margin-left: 10px" oninput="changing_pO2(this.value)">
        <input id="input_pO2_txt" type="text" value="0.21" class="input_txt">
    </div>
</section>

<section class="column3">
    <div class="one">
        <h3>モル熱容量：<output id="output_cp">56.188</output><img src="https://chart.googleapis.com/chart?cht=tx&chl=[{\rm J}/{\rm molK}]&chs=500" height="16px" style="margin-left: 10px"></h3>
        <input id="input_cp_sld" type="range" value="56.188" min="0" max="100" step="0.001" style="margin-left: 10px" oninput="changing_cp(this.value)">
        <input id="input_cp_txt" type="text" value="56.188" class="input_txt">
    </div>
    <div class="two">
        <h3>分子量：<output id="output_mw">123.233</output><img src="https://chart.googleapis.com/chart?cht=tx&chl=[{\rm g}/{\rm mol}]&chs=500" height="16px" style="margin-left: 10px"></h3>
        <input id="input_mw_sld" type="range" value="123.233" min="0" max="200" step="0.001" style="margin-left: 10px" oninput="changing_mw(this.value)">
        <input id="input_mw_txt" type="text" value="123.233" class="input_txt">
    </div>
    <div class="three">
        <h3>密度：<output id="output_den">6.10</output><img src="https://chart.googleapis.com/chart?cht=tx&chl=[{\rm g}/{\rm cm^3}]&chs=500" height="16px" style="margin-left: 10px"></h3>
        <input id="input_den_sld" type="range" value="6.10" min="0" max="20" step="0.01" style="margin-left: 10px" oninput="changing_den(this.value)">
        <input id="input_den_txt" type="text" value="6.10" class="input_txt">
    </div>
</section>

<section class="column3">
    <div class="one">
        <h3>電子の有効状態密度：<output id="output_eDOS">7.0e+20</output><img src="https://chart.googleapis.com/chart?cht=tx&chl=[{\rm m^{-3}}]&chs=500" height="16px" style="margin-left: 10px"></h3>
        <input id="input_eDOS_sld" type="range" value="7.0e+20" min="7.0e+18" max="7.0e+21" step="1e+18" style="margin-left: 10px" oninput="changing_eDOS(this.value)">
        <input id="input_eDOS_txt" type="text" value="7.0e+20" class="input_txt">
    </div>
    <div class="two">
        <h3>空孔形成エントロピー：<output id="output_fe">8.3145</output><img src="https://chart.googleapis.com/chart?cht=tx&chl=[{\rm J}/{\rm K}]&chs=500" height="16px" style="margin-left: 10px"></h3>
        <input id="input_fe_sld" type="range" value="8.3145" min="0" max="20" step="0.0001" style="margin-left: 10px" oninput="changing_fe(this.value)">
        <input id="input_fe_txt" type="text" value="8.3145" class="input_txt">
    </div>
    <div class="three">
        <h3>移動度係数(関数)：<output id="output_mc">8.02e-02</output><img src="https://chart.googleapis.com/chart?cht=tx&chl=[{\rm m^2}/{\rm Vs}]&chs=500" height="16px" style="margin-left: 10px"></h3>
        <input id="input_mc_sld" type="range" value="8.02e-02" min="0" max="1e+0" step="0.0001" style="margin-left: 10px" oninput="changing_mc(this.value)">
        <input id="input_mc_txt" type="text" value="8.02e-02" class="input_txt">
    </div>
</section>

<section class="column3">
    <div class="one">
        <h3>再配向エネルギー：<output id="output_re">1.89</output><img src="https://chart.googleapis.com/chart?cht=tx&chl=[{\rm eV}]&chs=500" height="16px" style="margin-left: 10px"></h3>
        <input id="input_re_sld" type="range" value="1.89" min="0" max="4" step="0.001" style="margin-left: 10px" oninput="changing_re(this.value)">
        <input id="input_re_txt" type="text" value="1.89" class="input_txt">
    </div>
    <div class="two">
        <h3>局所的な価数：<output id="output_lv">-1.5</output></h3>
        <input id="input_lv_sld" type="range" value="-1.5" min="-2" max="0" step="0.01" style="margin-left: 10px" oninput="changing_lv(this.value)">
        <input id="input_lv_txt" type="text" value="-1.5" class="input_txt">
    </div>
    <div class="three">
        <h3>外部局所電位：<output id="output_lp">5.0</output><img src="https://chart.googleapis.com/chart?cht=tx&chl=[{\rm V}]&chs=500" height="16px" style="margin-left: 10px"></h3>
        <input id="input_lp_sld" type="range" value="5.0" min="0" max="10" step="0.01" style="margin-left: 10px" oninput="changing_lp(this.value)">
        <input id="input_lp_txt" type="text" value="5.0" class="input_txt">
    </div>
</section>

<div style="margin-left: 50px">
    <h2 style="padding-top: 50px">フラッシュ焼結時に投入されるエネルギー</h2>
    <img src="https://chart.googleapis.com/chart?cht=tx&chl=W[T(t)]=E^2en(T,P_{ {\rm O}_2},\phi)M_{\rm n}(T)&chs=500" height="50px"><br>
    <img src="https://chart.googleapis.com/chart?cht=tx&chl=T(t%2B\Delta s)=T(t)%2B\left(\frac{dT}{dt}\right)_t \Delta s=T(t)%2B\frac{E^2e}{C_{\rm p}}n(T,P_{ {\rm O}_2},\phi)M_{\rm n}(T)\Delta s&chs=500" height="80px"><br>
    <img src="https://chart.googleapis.com/chart?cht=tx&chl=n(T,P_{ {\rm O}_2},\phi)=N_0 B_0 (P_{ {\rm O}_2})^{-\frac{1}{6}} \exp\left(-\frac{\Delta H_{ {\rm V}_{\rm O}^{\bullet \bullet} } %2B zF\phi}{3RT}\right)&chs=500" height="80px"><br>
    <img src="https://chart.googleapis.com/chart?cht=tx&chl=M_{\rm n}(T)=M_0 \exp\left(-\frac{E_{\rm M}}{RT}\right)&chs=500" height="80px">
    <img src="https://chart.googleapis.com/chart?cht=tx&chl=B_0=\left[2\exp\left(\frac{\Delta S_{\rm V_O^{\bullet\bullet}}}{R}\right)\right]^{\frac{1}{3}}&chs=500" height="80px" style="margin-left: 50px"><br>
    <div style="margin-left: 20px">
        <img src="https://chart.googleapis.com/chart?cht=tx&chl=E&chs=500" height="20px">：外部電圧<br>
        <img src="https://chart.googleapis.com/chart?cht=tx&chl=\Delta H_{ {\rm V}_{\rm O}^{\bullet \bullet} }&chs=500" height="25px">：酸素イオン空孔形成エンタルピー<br>
        <img src="https://chart.googleapis.com/chart?cht=tx&chl=P_{ {\rm O}_2}&chs=500" height="25px">：酸素分圧<br>
        <img src="https://chart.googleapis.com/chart?cht=tx&chl=C_{\rm p}&chs=500" height="25px">：熱容量<br>
        <img src="https://chart.googleapis.com/chart?cht=tx&chl=N_0&chs=500" height="25px">：酸素イオン形成時における電子の有効状態密度<br>
        <img src="https://chart.googleapis.com/chart?cht=tx&chl=\Delta S_{\rm V_O^{\bullet\bullet}}&chs=500" height="25px">：酸素イオン空孔形成エンタルピー<br>
        <img src="https://chart.googleapis.com/chart?cht=tx&chl=M_0&chs=500" height="25px">：電子の移動度係数(関数)<br>
        <img src="https://chart.googleapis.com/chart?cht=tx&chl=E_{\rm M}&chs=500" height="25px">：再配向エネルギー<br>
        <img src="https://chart.googleapis.com/chart?cht=tx&chl=z&chs=500" height="20px">：局所的な価数<br>
        <img src="https://chart.googleapis.com/chart?cht=tx&chl=\phi&chs=500" height="25px">：外部局所電位<br>
    </div>
</div>

</body>
</html>
